/* Ensure the calendar grid is centered */
.calendar-grid {
    -fx-alignment: center;  /* Center the content inside */
    -fx-hgap: 10; /* Horizontal gap between columns */
    -fx-vgap: 10; /* Vertical gap between rows */
    -fx-padding: 20px; /* Padding to add spacing around the grid */
}

#year-title {
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-text-fill: #5e9ed6;
}

.label {
    -fx-font-size: 18px;
    -fx-text-fill: #4a4a4a;
    -fx-padding: 2px;
    -fx-background-color: #f1f1f1;
    /*-fx-border-color: #e0e0e0;*/
    /*-fx-border-radius: 10px;*/
}

#Label-head {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}


.event-table {
    -fx-font-size: 14px;
    -fx-background-color: #fafafa;
    -fx-border-color: #d1d1d1;
}

.button {
    -fx-background-color: #5e9ed6;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #4a8db1;
}
